<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                        <h4><i class="glyphicon glyphicon-user"></i> @WebSecurity.CurrentUserName</h4>
                 </li>
            </ul>

                    
        </nav>
    </div>
</div>
