<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/Arquivos/user-placeholder.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bem-Vindo,</span>
        <h2>@WebSecurity.CurrentUserName</h2>
    </div>
    <div class="clearfix"></div>
</div>