<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Geral</h3>
        <ul class="nav side-menu">
            <li>
                <a>Cadastros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Adm/Album_Inclusao.cshtml">Criar Album</a></li>
                </ul>
 

            </li>
            <li>
                <a><i class="glyphicon glyphicon-eye-open"></i> Visualizar<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Adm/Album_Menu.cshtml">Albums</a></li>
                </ul>
            </li>
            <li>
                <a href="~/Galeria.cshtml"> <i class="glyphicon glyphicon-picture"></i> Galerias</a>
            </li>
        </ul>

    </div>
    <div class="menu_section">

    </div>
</div>