@{
    Page.Title = "Cadastro de Motor - Exclusão";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";

    var ID_MOTOR = UrlData[0];

    if (ID_MOTOR.IsEmpty())
    {
        Response.Redirect("~/Adm/Motor_Menu.cshtml");
    }

    var db = Database.Open("ConexaoLocal");
 
    var linha = db.QuerySingle("SELECT * FROM Motor WHERE ID = @0", ID_MOTOR);
    if (IsPost && !ID_MOTOR.IsEmpty())
    {

        var apagarQuery = "DELETE FROM Motor WHERE ID=@0 ";
        db.Execute(apagarQuery, ID_MOTOR);

        Response.Redirect("~/Adm/Motor_Menu.cshtml");
    }
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Exclusão de Motor</h3>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                  <form method="post" action="@Href("~/Adm/Motor_Exclusao.cshtml", ID_MOTOR)"
                        enctype="multipart/form-data">

                    <div align="right">
                        <a href="@Href("~/adm/Motor_Menu.cshtml")">
                            <input type="button" class="btn btn-default"
                                   value="Fechar sem Excluir" />
                        </a>
                        <input type="submit" name="salvar" class="btn btn-danger"
                               value="Excluir" />
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Nome</label>
                            <input type="text" class="form-control"
                                   name="iptFabricante" placeholder="Selecione o nome do Fabricante"
                                   maxlength="50" 
                                   value="@linha.MOT_ID_FABRICANTE"/>
                        </div>
                    </div>


                       <div class="row">
                          <div class="form-group col-md-12">
                              <label>Modelo:</label>
                              <input type="text" class="form-control" name="iptModelo"
                                     placeholder="Digite o modelo do motor"
                                     value="@linha.MOT_MODELO"/>
                          </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>