@{
    Page.Title = "Cadastro de Motor - Inclusão";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";

    var db = Database.Open("ConexaoLocal");

    Validation.RequireField("iptFabricante",
        "O campo [Fabricante] é de preenchimento obrigatório");
    Validation.RequireField("iptModelo",
        "O campo [Modelo] é de preenchimento obrigatório");

    var m = Request.Form["iptModelo"];
    var f = Request.Form["iptFabricante"];

    if (IsPost && Validation.IsValid())
    {
        var InsertQuery = "INSERT INTO Motor (MOT_ID_FABRICANTE, MOT_MODELO)VALUES (@0,@1)";
        db.Execute(InsertQuery, f, m);

        Response.Redirect("Motor_Menu.cshtml");
    }
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Cadastro de Motores</h3>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
              
                @if (IsPost && !Validation.IsValid())
                {
                <div class="alert alert-danger" role="alert">
                    <h3><strong>Erro!</strong></h3>
                    <p>Ocorreram o(s) seguinte(s) erro(s):</p>
                    @Html.ValidationSummary()
                </div>
                }
                
                  <form method="post" action="~/Adm/Motor_Inclusao.cshtml"
                        enctype="multipart/form-data">

                    <div align="right">
                        <a href="@Href("~/adm/Motor_Menu.cshtml")">
                            <input type="button" class="btn btn-default"
                                   value="Fechar sem Salvar" />
                        </a>
                        <input type="submit" name="salvar" class="btn btn-primary"
                               value="Salvar" />
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Fabricante</label>
                            <select class="form-control" 
                                    name="iptFabricante">
                                <option value="">Selecione o Fabricante</option>
                                @{ 
                                    var exibe = "SELECT ID, FAB_NOME FROM FABRICANTE ORDER BY FAB_NOME";

                                    foreach (var fab in db.Query(exibe))
                                    {
                                        <option value="@fab.ID">@fab.FAB_NOME</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>


                      <div class="row">
                          <div class="form-group col-md-12">
                              <label>Modelo</label>
                              <input type="text" class="form-control"
                                     name="iptModelo" placeholder="Digite o Modelo do Motor"
                                     maxlength="50" />
                          </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>